@font-face {
  font-family: "Ubuntu";
  src: url("../public/Ubuntu/Ubuntu-Light.ttf");
}

* {
  /* background-image: url("circuit-7447920_960_720.png"); */
  /* background-size: cover; */
  --primary-color: rgb(43, 212, 170);
  --secondary-color: rgb(212, 43, 85);
  --tertiary-color: rgb(84, 43, 212);
  --quaternary-color: rgb(170, 212, 43);
  --background-color: rgb(29, 26, 26);
}

.primary-color {
  color: var(--primary-color)
}
.secondary-color {
  color: var(--secondary-color)
}
.tertiary-color{
  color: var(--tertiary-color)
}
.quaternary-color {
  color: var(--quaternary-color)
}

:root {
  background-color: var(--background-color);
  font-size: 1.5em;
  background-color: black;
}

/* a:link {
  color: var(--secondary-color);
} */

/* visited link */
/* a:visited {
  color: var(--quaternary-color);
} */

/* mouse over link */

/* a:hover {
  color: var(--tertiary-color);
} */

.text-align-left {
  text-align: left;
}
.links span{
  margin-left: 20px;
  margin-right: 20px;
}

.App {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 50em;
  font-family: "Ubuntu";
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 1000px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.link-icon {
  font-size: .75em;
}

.link-img {
  max-height: 1em;
  max-width: 1em;
  filter: invert(100%);
  margin-bottom: -0.15em;
}

a::before {
  content: ' 🔗';
}

.text-wrapper {
  max-width: 50em;
  justify-content: left;
}

.img-wrapper {
  /* display: flex; */
  margin: auto;
  justify-content: center;
  /* align-items: center; */
  /* max-width: 16em; */
  /* height: auto; */
  align-self: flex-end;
  padding: 10px
}

.pageHeader h1 {
  margin: 0;
}

.pageHeader span {
  /* margin-right: 10px; */
  justify-content: flex-start;
}

.pageHeader img {
  max-height: 24px;
  /* margin-right: 10px; */
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.projectCard-X {
  position: absolute;
  /* float: right; */
  width: 100%;
  text-align: right;
  /* padding: 10px; */
  font-size: 1.25em; 
}

.projectCard-X button {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}

.projectCard {
  /* max-width: 50em; */
  /* max-width: 100%; */
  position: relative;
  display: flex;
  background-color: rgb(20, 34, 39);
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  
}

.fade-in {
  animation-name: open-tab;
  animation-duration: .5s;
}

@keyframes open-tab {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.fade-out {
  animation-name: close-tab;
  animation-duration: .5s;
}

@keyframes close-tab {
  from {opacity: 100%;}
  to {opacity: 0%;}
}



.projectCard-text-wrapper {
  max-width: 34em;
  text-align: left;
  font-size: .9em;
  /* margin-right: 5px; */
}
/* .projectCard-text-wrapper h3 {
  color: var(--secondary-color);
} */

.projectCard article {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.projectCard img {
  width: 100%;
  align-self: right;
  /* height: 100%; */
}
.contact-info span {
  padding: 5px 5px 5px 5px;
}









.thumbnail {
  text-align: center;
  /* margin: 10px; */
  margin-left: 5px;
  margin-right: 5px;
  /* display: flex; */
  padding: 5px;
  background-color: black;
  /* min-width: 20%; */
  border-radius: 10px;
  flex: 1 1 0px;

}

.selected-tab {
  /* background-color: rgb(20, 34, 39); */
  color: var(--secondary-color);
  border-radius: 10px 10px 0px 0px;
  animation-name: clicked-thumbnail;
  animation-duration: 0.5s;
  background-color: rgb(20, 34, 39);
}

@keyframes clicked-thumbnail {
  from {background-color: black;}
  to {background-color: rgb(20, 34, 39);}
}





.thumbnail img {
  max-height: 100px;
  max-width: 100%;
}

.thumbnail-container {
  display: flex;
  /* flex-grow: 1; */
  justify-content: space-between;  
}

.projects-container {
  display: flex;
  /* justify-content: space-between;   */
  flex-direction: column;
  /* flex-grow: 1; */
}

.hidden  {
  display: none !important;
  /* opacity: 0; */
}

.focused-project {
  background-color: rgb(20, 34, 39);
  display: flex;
}

.break {
  flex-basis: 100%;
  width: 0px;
}



.text-large{
  font-size: 2em;
}

/* old? */


.aboutMe {
  text-align: left;
}
.aboutMe-button {
  /* background-color: black; */
  padding-top: 5px;
  /* padding: 10px; */
}
