@font-face {
  font-family: "Ubuntu";
  src: url("../public/Ubuntu/Ubuntu-Light.ttf");
}


.App {
  /* text-align: center; */
  /* background-color: #282c34;
  color: green; */
  margin: 15px 15px 15px 15px;
  font-family: "Ubuntu";
}

/* Light mode */
/* @media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }
} */

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  body {
      background-color: black;
      color: white;
  }
} */

/* .App a:link {
  color: rgba(169, 243, 197, 0.767);
}

.App a:visited {
  color: rgba(76, 128, 106, 0.767);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
}

.img-wrapper { 
  text-align: center;
  /* background-color: #282c34; */
  min-width: 25%; 
}

/* .pageHeader {} */

.pageHeader span {
    margin-right: 10px;
}

.pageHeader img {
  max-height: 24px;
  margin-right: 10px;
}
/* .projectCard {} */

.projectCard article{
  display: flex;
  justify-content: space-between;
}
.projectCard img {
  /* max-width: 250px; */
  justify-content: center;
  max-height: 250px;
}

/* .aboutMe {} */